<h1 id="séquence-5">Séquence 5</h1>
<p>L’objectif de la séquence est de travailler sur la construction et l’utilisation d’arbres binaires de recherche. On poura lire le chapitre 12 de l’ouvrage</p>
<p><strong>Algorithmique</strong> par Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest et Clifford Stein Dunod 3ième édition 2010 <a href="https://www.dunod.com/sciences-techniques/algorithmique-cours-avec-957-exercices-et-158-problemes">lien</a> des versions plus anciennes sont accessibles partiellement sur internet.</p>
<h2 id="question-1">Question 1</h2>
<p>On considère l’arbre de 13 noeuds étiquetés, de racine le noeud 1</p>
<table>
<thead>
<tr class="header">
<th style="text-align: center;">noeud</th>
<th style="text-align: center;">étiquette</th>
<th style="text-align: center;">fils gauche</th>
<th style="text-align: center;">fils droit</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">I</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
</tr>
<tr class="even">
<td style="text-align: center;">2</td>
<td style="text-align: center;">F</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">5</td>
</tr>
<tr class="odd">
<td style="text-align: center;">3</td>
<td style="text-align: center;">M</td>
<td style="text-align: center;">6</td>
<td style="text-align: center;">7</td>
</tr>
<tr class="even">
<td style="text-align: center;">4</td>
<td style="text-align: center;">C</td>
<td style="text-align: center;">8</td>
<td style="text-align: center;">9</td>
</tr>
<tr class="odd">
<td style="text-align: center;">5</td>
<td style="text-align: center;">G</td>
<td style="text-align: center;">10</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="even">
<td style="text-align: center;">6</td>
<td style="text-align: center;">K</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">7</td>
<td style="text-align: center;">P</td>
<td style="text-align: center;">11</td>
<td style="text-align: center;">12</td>
</tr>
<tr class="even">
<td style="text-align: center;">8</td>
<td style="text-align: center;">A</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">9</td>
<td style="text-align: center;">D</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="even">
<td style="text-align: center;">10</td>
<td style="text-align: center;">H</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">11</td>
<td style="text-align: center;">L</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="even">
<td style="text-align: center;">12</td>
<td style="text-align: center;">W</td>
<td style="text-align: center;">13</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">13</td>
<td style="text-align: center;">U</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
</tbody>
</table>
<p>Pour chacun des noeuds <span class="math inline"><em>i</em></span> de l’arbre, indiquer si le sous-arbre de racine <span class="math inline"><em>i</em></span> est un arbre binaire de recherche. ### réponses (éléments) Les sous-arbres dont les racines sont les noeuds <span class="math inline"><em>i</em> = 4, 8, 9, 10, 6, 7, 11, 12, 13</span> sont des arbres binaires de recherche, les autres sous-rbres ne le sont pas.</p>
<h2 id="question-2">Question 2</h2>
<p>On considère un ABR avec <span class="math inline"><em>n</em></span> noeuds et de hauteur <span class="math inline"><em>h</em></span>.</p>
<ol type="1">
<li>La recherche d’un élément dans l’ABR est de complexité au pire <span class="math inline"><em>O</em>(1)</span>, <span class="math inline"><em>O</em>(<em>l</em><em>o</em><em>g</em><em>n</em>)</span>, <span class="math inline"><em>O</em>(<em>h</em>)</span>, <span class="math inline"><em>O</em>(<em>n</em>)</span></li>
<li>La recherche d’un élément dans l’ABR construit par insertion des éléments dans un ordre aléatoire est de complexité moyenne <span class="math inline"><em>O</em>(1)</span>, <span class="math inline"><em>O</em>(<em>l</em><em>o</em><em>g</em><em>n</em>)</span>, <span class="math inline"><em>O</em>(<em>h</em>)</span>, <span class="math inline"><em>O</em>(<em>n</em>)</span></li>
</ol>
<h3 id="réponses-éléments">réponses (éléments)</h3>
<ol type="1">
<li>Les réponses <span class="math inline"><em>O</em>(<em>h</em>)</span> et <span class="math inline"><em>O</em>(<em>n</em>)</span> sont correctes, la plus précise est <span class="math inline"><em>O</em>(<em>h</em>)</span>, en effet il existe une feuille à la hauteur <span class="math inline"><em>h</em></span> et pour la retrouver il faut de l’ordre de <span class="math inline"><em>O</em>(<em>h</em>)</span> comparaisons, tous les autres noeuds étant à une distance inférieure ou égale à <span class="math inline"><em>h</em></span>. Comme on peut construire un ABR dégénéré de taille <span class="math inline"><em>n</em></span> (un fil) on a <span class="math inline"><em>h</em> = <em>n</em> − 1)</span> et donc la complexité sera en <span class="math inline"><em>O</em>(<em>n</em>)</span> au pire</li>
<li>Lorsque l’ABR est construit en insérant les clés dans un ordre aléatoire, on montre que la hauteur moyenne d’un noeud est <span class="math inline"><em>O</em>(log<em>n</em>)</span>, les bonnes réponses sont <span class="math inline"><em>O</em>(log<em>n</em>)</span> et <span class="math inline"><em>O</em>(<em>h</em>)</span> (comme avant)</li>
</ol>
<h2 id="question-3">Question 3</h2>
<p>Étant donné un ABR, quel parcours permet de traiter les noeuds par ordre croissant de leurs étiquettes</p>
<ol type="1">
<li>un parcours en largeur d’abord</li>
<li>un parcours en profondeur d’abord préfixé</li>
<li>un parcours en profondeur d’abord infixé</li>
<li>un parcours en profondeur d’abord post-fixé</li>
</ol>
<h3 id="réponses-éléments-1">réponses (éléments)</h3>
<p>La bonne réponse est le parcours en profondeur d’abord infixé, on doit traiter les noeuds par ordre d’étiquette donc les noeuds du sous-arbres gauche doivent être traités avant le traitement de la racine qui elle-même doit être traitée avant les noeuds du sous-arbre droit.</p>
<h2 id="question-4">Question 4</h2>
<p>On considère l’arbre binaire de recherche de 9 noeuds étiquetés, de racine le noeud 1</p>
<table>
<thead>
<tr class="header">
<th style="text-align: center;">noeud</th>
<th style="text-align: center;">étiquette</th>
<th style="text-align: center;">fils gauche</th>
<th style="text-align: center;">fils droit</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">I</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">7</td>
</tr>
<tr class="even">
<td style="text-align: center;">2</td>
<td style="text-align: center;">F</td>
<td style="text-align: center;">8</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">3</td>
<td style="text-align: center;">T</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="even">
<td style="text-align: center;">4</td>
<td style="text-align: center;">C</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">5</td>
<td style="text-align: center;">J</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">6</td>
<td style="text-align: center;">U</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
<tr class="odd">
<td style="text-align: center;">7</td>
<td style="text-align: center;">B</td>
<td style="text-align: center;">5</td>
<td style="text-align: center;">3</td>
</tr>
<tr class="even">
<td style="text-align: center;">8</td>
<td style="text-align: center;">E</td>
<td style="text-align: center;">6</td>
<td style="text-align: center;">9</td>
</tr>
<tr class="odd">
<td style="text-align: center;">9</td>
<td style="text-align: center;">S</td>
<td style="text-align: center;">/</td>
<td style="text-align: center;">/</td>
</tr>
</tbody>
</table>
<ol type="1">
<li>On souhaite insérer un nouveau noeud portant l’étiquette D, à quelle place faut-il l’insérer ?</li>
<li>On souhaite maintent supprimer le noeud 2, quel noeud sera la racine du sous-arbre gauche du noeud 1 après suppression.</li>
</ol>
<h3 id="réponses-éléments-2">réponses (éléments)</h3>
<ol type="1">
<li>Il faut l’insérer comme racine du sous-arbre gauche du noeud 9</li>
<li>Le noeud 8</li>
<li></li>
</ol>
