<h1 id="séquence-1">Séquence 1</h1>
<p>L’objectif de la séquence est de positionner le concept d’algorithme dans le domaine scientifique de l’informatique et de montrer que son usage populaire peut être ambigü et source d’interprétations. On poura lire le chapitre 1 de l’ouvrage</p>
<p><strong>Algorithmique</strong> par Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest et Clifford Stein Dunod 3ième édition 2010 <a href="https://www.dunod.com/sciences-techniques/algorithmique-cours-avec-957-exercices-et-158-problemes">lien</a> des versions plus anciennes sont accessibles partiellement sur internet.</p>
<h2 id="question-1">Question 1</h2>
<p>Un algorithme peut être (réponse vrai/faux)</p>
<ol type="1">
<li>intelligent</li>
<li>légal</li>
<li>correct</li>
<li>efficace</li>
<li>obsolète</li>
</ol>
<h3 id="réponses-éléments">réponses (éléments)</h3>
<ol type="1">
<li>Faux : un algorithme est un texte, il n’agit pas, ne réfléchit pas, celui qui a conçu l’algorithme par contre peut être intelligent, asctucieux,…</li>
<li>Faux : de même que précédemment, un algorithme n’a pas de sens légal. Par contre son usage est soumis à la législation. Jusqu’à présent il n’y a pas de contrainte éthique ou juridique sur l’écriture des algorithmes.</li>
<li>Vrai : Un algorithme est conçu pour résoudre un problème de traitement d’information, il est correct si pour toute entrée du problème l’algorithme associe la sortie attendue (spécifiée)</li>
<li>Vrai : un algorithme est destiné à être traduit dans un langage de programmation puis à être exécuté sur une machine (informatique), même en supposant que le programme soit une bonne écriture de l’algorithme, que l’algorithme soit correct, la meilleure machine du monde ne pourra peut-être pas l’exécuter car trop d’opérations seraient nécessaires. Par exemple, un algorithme de tri d’éléments comparables consiste à “mélanger” les objets, tester s’ils sont dans l’ordre et recommencer jusqu’à ce qu’ils le soient. Vous pouvez faire le calcul du nombre moyen de tests nécessaires pour trier un tableau de 1000 éléments avec cette méthode.</li>
<li>Faux : un algorithme écrit n’a pas de raison d’être obsolète ou d’avoir une “durée de vie”. Par contre, au vu de l’évolution des machines il peut présenter moins d’intérêt car moins adapté aux contraintes matérielles (par exemples certains algorithmes de tris ont été conçus pour travailler sur des données sur bande magnétiques et la lecture/écriture des données était très coûteuse.</li>
</ol>
<h2 id="question-2">Question 2</h2>
<p>Sur la <a href="https://fr.wikipedia.org/wiki/Recherche_dichotomique">page Wikipedia Recherche dichotomique</a> d’un élément dans une structures. Plusieurs présentations sont proposées.</p>
<ol type="1">
<li>Le problème est bien spécifié (c’est à dire que l’on connaît l’association entre l’entrée et la sorie de l’algorithme</li>
<li>l’algorithme est exprimé dans plusieurs versions</li>
<li>l’algorithme est prouvé</li>
<li>l’algorithme est montré efficace</li>
<li>la présentation de la version en anglais de la page <a href="https://en.wikipedia.org/wiki/Binary_search_algorithm">lien</a> a une autre forme de présentation</li>
</ol>
<h3 id="réponses-éléments-1">réponses (éléments)</h3>
<ol type="1">
<li>Faux : les entrées du problème ne sont pas suffisemment détaillées. les éléments doivent-ils être comparables 2 à 2, le type des éléments est entier alors que rien ne le précise, l’élément doit-il être dans le tableau, peut-il y avoir plusieurs fois le même élément ?</li>
<li>Vrai : une version de l’algorithme en langage naturel, une version récursive et une version itérative.</li>
<li>Faux : l’algorithme n’est pas formellement prouvé, (la spécification n’étant pas formelle)</li>
<li>Faux : on a calculé la complexité, de manière approximative car les hypothèses sur les données d’ntrée ne sont pas fournie. On en déduit une complexité de l’ordre de O(log(n)) mais ne montre pas que l’on ne peut pas faire mieux</li>
<li>La présentation de la page anglaise fait d’autres choix de présentation, en particulier</li>
</ol>
<h2 id="question-3">Question 3</h2>
<p>Dans l’algorithme du crêpier (Pancake sorting) on a supposé que les faces d’une crêpe sont identiques. On suppose maintenant que les crêpes ont une face jolie et une plus brûlée. On veut positionner les crêpes dans le tas final avec la plus jolie face sur le dessus. Évidemment l’opération <code>Retourne-préfixe</code> retourne toutes les crêpes concernées (donc inverse leurs faces).</p>
<pre class="algo"><code>1 Crêpier-Récursif (T,n)
2   if n != 1
3       k =Indice-du-max (T,n)4         // recherche de l’indice de la valeur maximale du tableau de 1 à n5     Retourne-préfixe (T,k)6     // positionnement de la plus grande crêpe au sommet de la pile7     Retourne-préfixe (T,n)8     // positionnement de la plus grande crêpe à la position n9      Crêpier-Récursif (T,n-1)10      // appel r´ecursif pour trier le tableau de 1 à n - 1</code></pre>
<p>Comment modifier l’algorithme initial en insérant</p>
<pre class="algo"><code>if (dessus-crêpe(T[1]) == ???) Retourne-préfixe(T,1)</code></pre>
<ol type="1">
<li>la ligne doit être insérée après la ligne 1,2,3,5,7 ou 9</li>
<li>la valeur de <code>dessus-crêpe(T[1])</code> dans le test est jolie ou brûlée</li>
</ol>
<h3 id="réponses-éléments-2">réponses (éléments)</h3>
<ol type="1">
<li>Lorsque l’on positionne la crêpe la plus grande au sommet après la première opération de <code>Retourne-préfixe</code> la deuxième opération <code>Retourne-préfixe</code> va inverser la face de la crêpe. Donc la face visible avant le deuxième retournement doit être brulée pour que, in fine, la crêpe mise en position ait sa jolie face sur le dessus. On doit donc insérer la ligne entre les deux opérations de <code>Retourne-préfixe</code>, soit après la ligne 5.</li>
<li>avant le deuxième retournement la face au sommet de la pile doit être brûlée, Donc on doit avoir <code>if (dessus-crêpe(T[1]) == joli) Retourne-préfixe(T,1)</code></li>
</ol>
<h2 id="question-4">Question 4</h2>
<p>On considère la fonction <code>miroir</code> une version simplifiée de <code>Retourne-préfixe</code>, qui effectue le renversement du tableau.</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="kw">def</span> miroir(T):</span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a>    <span class="co">&quot;&quot;&quot; modifie le tableau T en renversant ses éléments</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a><span class="co">    la modification se fait en place</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; T = [&#39;A&#39;, &#39;B&#39;, &#39;C&#39;, &#39;D&#39;]</span></span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; miroir(T)</span></span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; T</span></span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true" tabindex="-1"></a><span class="co">    [&#39;D&#39;, &#39;C&#39;, &#39;B&#39;, &#39;A&#39;]</span></span>
<span id="cb3-8"><a href="#cb3-8" aria-hidden="true" tabindex="-1"></a><span class="co">    &quot;&quot;&quot;</span></span>
<span id="cb3-9"><a href="#cb3-9" aria-hidden="true" tabindex="-1"></a>    n <span class="op">=</span> <span class="bu">len</span>(T)</span>
<span id="cb3-10"><a href="#cb3-10" aria-hidden="true" tabindex="-1"></a>    <span class="cf">for</span> i <span class="kw">in</span> <span class="bu">range</span>(n):</span>
<span id="cb3-11"><a href="#cb3-11" aria-hidden="true" tabindex="-1"></a>        T[i], T[n<span class="op">-</span>i] <span class="op">=</span> T[n<span class="op">-</span>i], T[i]</span></code></pre></div>
<p>Le code proposé ci-dessus semble présenter des erreurs de nature algorihmique.</p>
<ol type="1">
<li>Le code est correct (répondre aux questions suivantes (vrai/faux) si vous estimez que le code n’est pas correct)</li>
<li>Le code présente une/des erreur(s) d’indiçage</li>
<li>Les bornes pour l’itération devraient être <code>for i in range(1,n):</code></li>
<li>Les bornes pour l’itération devraient être <code>for i in range(0,(n - 1) // 2):</code></li>
<li>Les bornes pour l’itération devraient être <code>for i in range(0,n // 2):</code> avec l’échange <code>T[i], T[n-i-1] = T[n-i-1], T[i]</code></li>
</ol>
<h3 id="réponses-éléments-3">réponses (éléments)</h3>
<p>Un code exprimant la même idée</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="kw">def</span> miroir_corrige(T):</span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>    <span class="co">&quot;&quot;&quot; modifie le tableau T en renversant ses éléments</span></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a><span class="co">    la modification se fait en place</span></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; T = [&#39;A&#39;, &#39;B&#39;, &#39;C&#39;, &#39;D&#39;]</span></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; miroir(T)</span></span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; print(T)</span></span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true" tabindex="-1"></a><span class="co">    [&#39;D&#39;, &#39;C&#39;, &#39;B&#39;, &#39;A&#39;]</span></span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; T1 = [&#39;A&#39;, &#39;B&#39;, &#39;C&#39;, &#39;D&#39;,&#39;E&#39;]</span></span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; miroir(T1)</span></span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true" tabindex="-1"></a><span class="co">    &gt;&gt;&gt; print(T1)</span></span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true" tabindex="-1"></a><span class="co">    [&#39;E&#39;,&#39;D&#39;, &#39;C&#39;, &#39;B&#39;, &#39;A&#39;]</span></span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-13"><a href="#cb4-13" aria-hidden="true" tabindex="-1"></a><span class="co">    &quot;&quot;&quot;</span></span>
<span id="cb4-14"><a href="#cb4-14" aria-hidden="true" tabindex="-1"></a>    n <span class="op">=</span> <span class="bu">len</span>(T)</span>
<span id="cb4-15"><a href="#cb4-15" aria-hidden="true" tabindex="-1"></a>    <span class="cf">for</span> i <span class="kw">in</span> <span class="bu">range</span>(<span class="dv">0</span>,n <span class="op">//</span> <span class="dv">2</span>):</span>
<span id="cb4-16"><a href="#cb4-16" aria-hidden="true" tabindex="-1"></a>        T[i], T[n <span class="op">-</span> i <span class="op">-</span> <span class="dv">1</span>] <span class="op">=</span> T[n <span class="op">-</span> i <span class="op">-</span> <span class="dv">1</span>], T[i]</span></code></pre></div>
<ol type="1">
<li>Faux : le code n’est pas correct, erreurs de conceptions et de correspondances d’indices</li>
<li>Vrai : par exemple lorsque <code>i = 0</code>à la première itération <code>n - i = n</code> et <code>T[n]</code>n’est pas défini (le tableau est indicé de <code>0</code>à <code>n</code>)</li>
<li>Faux : il n’y a plus d’erreurs d’indices, mais le résultat n’est pas correct, on fait 2 fois le miroir donc le tableau est inchangé</li>
<li>Faux : Les bornes ne sont pas correcte par rapport à l’échange</li>
<li>Vrai</li>
</ol>
