<h1 id="séquence-3">Séquence 3</h1>
<p>L’objectif de la séquence est de travailler sur la recherche d’un élément et de travailler sur le problème du tri. On poura lire les chapitres 2 et 3 de l’ouvrage</p>
<p><strong>Algorithmique</strong> par Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest et Clifford Stein Dunod 3ième édition 2010 <a href="https://www.dunod.com/sciences-techniques/algorithmique-cours-avec-957-exercices-et-158-problemes">lien</a> des versions plus anciennes sont accessibles partiellement sur internet.</p>
<h2 id="question-1">Question 1</h2>
<p>On considère une recherche dichotomique dans un tableau trié de taille <span class="math inline"><em>n</em> = 2<sup><em>k</em></sup> − 1</span> et on compte le nombre de comparaisons d’éléments pour la recherche d’un élément présent ou non dans le tableau.</p>
<ol type="1">
<li>Le coût le coût au mieux de l’algorithme est <span class="math inline">1</span>, <span class="math inline"><em>k</em></span>, <span class="math inline">$\frac n2$</span>, <span class="math inline"><em>n</em></span></li>
<li>Le coût le coût au pire de l’algorithme est <span class="math inline">1</span>, <span class="math inline"><em>k</em></span>, <span class="math inline">$\frac n2$</span>, <span class="math inline"><em>n</em></span></li>
<li>Le nombre d’éléments pour lesquels le coût au pire est atteint est <span class="math inline">1</span>, <span class="math inline"><em>k</em></span>, <span class="math inline">$\frac {n+1}2$</span>, <span class="math inline"><em>n</em></span></li>
<li>On suppose qu’un même élément est répété <span class="math inline">4</span> fois dans le tableau, le nombre de comparaisons nécessaires sera au plus <span class="math inline">1</span>, <span class="math inline"><em>k</em> − 2</span>, <span class="math inline"><em>k</em> − 1</span>, <span class="math inline"><em>k</em></span>, <span class="math inline">$\frac {n+1}2$</span></li>
</ol>
<h3 id="réponses-éléments">réponses (éléments)</h3>
<ol type="1">
<li><span class="math inline">1</span> si le premier élément cherché est au centre du tableau</li>
<li><span class="math inline"><em>k</em></span> par exemple pour l’élément en première position. D’autre part, cf l’arbre associé) tous les éléments d’indice pair (numérotation à partir de <span class="math inline">0</span>) sont à une profondeur de <span class="math inline"><em>k</em> − 1</span>, les éléments d’indice impair sont dans les niveaux supérieurs dans l’arbre.</li>
<li><span class="math inline">$\frac {n+1}2$</span> ce sont les éléments d’indice pair</li>
<li><span class="math inline"><em>k</em> − 2</span> en effet les éléments sont consécutifs dans le tableau trié et donc on a 2 feuilles, au pire un père et un grand-père</li>
</ol>
<h2 id="question-2">Question 2</h2>
<p>Dans l’algorithme de tri par sélection</p>
<ol type="1">
<li>Le nombre de comparaisons effectuées est <span class="math inline">$\frac n2$</span>, <span class="math inline"><em>n</em> − 1</span>, <span class="math inline"><em>n</em></span>, <span class="math inline">$\frac {n(n-1)}2$</span>, <span class="math inline"><em>n</em>(<em>n</em>−1)</span></li>
<li>Le nombre d’échanges effectués est <span class="math inline">$\frac n2$</span>, <span class="math inline"><em>n</em> − 1</span>, <span class="math inline"><em>n</em></span>, <span class="math inline">$\frac {n(n-1)}2$</span>, <span class="math inline"><em>n</em>(<em>n</em>−1)</span></li>
<li>Le nombre de lectures dans le tableau est <span class="math inline">$\frac n2$</span>, <span class="math inline"><em>n</em> − 1</span>, <span class="math inline"><em>n</em></span>, <span class="math inline">$\frac {n(n-1)}2$</span>, <span class="math inline"><em>n</em>(<em>n</em>−1)</span></li>
</ol>
<h2 id="question-3">Question 3</h2>
<p>Dans le tri par insertion d’un tableau de taille <span class="math inline"><em>n</em></span> , on détermine la position de l’élément à insérer en faisant une recherche dichotomique. Le nombre total de comparaisons est donc modifié. On suppose tous les éléments du tableau différents.</p>
<ol type="1">
<li>Le nombre de comparaisons pour réaliser le tri sera au mieux de <span class="math inline"><em>O</em>(1)</span>, <span class="math inline"><em>O</em>(<em>n</em>)</span>, <span class="math inline"><em>O</em>(<em>n</em>log(<em>n</em>))</span>, <span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></li>
<li>Le nombre d’affectations pour réaliser le tri sera au mieux de <span class="math inline"><em>O</em>(1)</span>, <span class="math inline"><em>O</em>(<em>n</em>)</span>, <span class="math inline"><em>O</em>(<em>n</em>log(<em>n</em>))</span>, <span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></li>
</ol>
<h3 id="réponses-éléments-1">réponses (éléments)</h3>
<ol type="1">
<li><span class="math inline"><em>O</em>(<em>n</em>log(<em>n</em>))</span> On note <span class="math inline"><em>T</em>(<em>n</em>)</span> le coût au pire en nombre de comparaisons, on a <span class="math inline"><em>T</em>(<em>n</em>) = <em>T</em>(<em>n</em>−1) + log (<em>n</em>−1)</span> d’où <span class="math inline"><em>T</em>(<em>n</em>) = log (<em>n</em>−1) + log (<em>n</em>−2) + ⋯log (2) + log (1) = <em>O</em>(<em>n</em>log(<em>n</em>))</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span> le nombre de décalages est i,changé donc le nombre d’affectations au pire sera <span class="math inline">$(n-1)+(n-2) + \cdots +2 +1 = \frac{n(n-1)}2 = O(n^2)$</span>, à l’implémentation le code offrirait des performances similaires à l’algorithme sans la recherche dichotomique.</li>
</ol>
<h2 id="question-4">Question 4</h2>
<p>On considère l’algorithme suivant</p>
<pre class="algo"><code>tri_mystere(T)
  i = taille(T) -1
  tableau_trié = Faux
  tant que non tableau_trié et i &gt;0
    tableau_trié = vrai
    pour j allant de 0 à i-1
        si T[j+1] &lt; T[j]
          Echange (T,j,j+1)
          tableau_trié = Faux
    i = i-1
    
exemple = [&#39;o&#39;, &#39;i&#39;, &#39;s&#39;, &#39;e&#39;, &#39;a&#39;, &#39;u&#39;]</code></pre>
<p>On pourra s’aider d’un programme python implémentant l’algorithme, <span class="math inline"><em>n</em></span> est la taille du tableau <code>T</code></p>
<ol type="1">
<li>On exécute l’algorithme <code>tri_mystère</code> sur <code>exemple</code> après 2 itérations du <code>tant que</code> le tableau <code>T</code> a pour valeur [‘i’,‘o’,‘s’,‘e’,‘a’,‘u’], [‘e’,‘a’,‘o’,‘i’,‘s’,‘u’],[‘o’, ‘i’, ‘s’, ‘e’, ‘a’, ‘u’],[‘i’, ‘o’, ‘e’, ‘s’, ‘a’, ‘u’],[‘i’, ‘e’, ‘a’, ‘o’, ‘s’, ‘u’]</li>
<li>On exécute l’algorithme <code>tri_mystère</code> sur <code>exemple</code>, l’algorithme se termine après un nombre d’exécution du bloc <code>tant que</code> égal à 1,2,3,4 ou 5</li>
<li>L’algorithme effectue au mieux un nombre d’échanges égal à <span class="math inline">0</span>, <span class="math inline">log (<em>n</em>)</span>, <span class="math inline">$\frac n2$</span>, <span class="math inline"><em>n</em></span>, <span class="math inline">$\frac {n(n-1)}2$</span></li>
<li>L’algorithme effectue au pire un nombre d’échanges égal à <span class="math inline">0</span>, <span class="math inline">log (<em>n</em>)</span>, <span class="math inline">$\frac n2$</span>, <span class="math inline"><em>n</em></span>, <span class="math inline">$\frac {n(n-1)}2$</span></li>
<li>À faire : la preuve que <code>tri_mystère(T)</code> trie le tableau <code>T</code></li>
</ol>
<h3 id="réponses-éléments-2">réponses (éléments)</h3>
<ol type="1">
<li>[‘i’, ‘e’, ‘a’, ‘o’, ‘s’, ‘u’]</li>
<li>l’algorithme se termine en 3 étapes</li>
<li><span class="math inline">0</span> si le tableau est trié par ordre croissant et on a <span class="math inline"><em>n</em> − 1</span> comparaisons</li>
<li>Au pire le nombre d’échanges est <span class="math inline">$\frac {n(n-1)}2$</span>, en effet le nombre d’échanges est majoré par <span class="math inline">$\frac {n(n-1)}2$</span> (cas où toutes les conditions du <code>if</code>sont vraies) et il existe un exemple qui atteint <span class="math inline">$\frac {n(n-1)}2$</span> (cas du tableau trié par ordre décroissant.</li>
</ol>
